<h1><%= @user.email %></h1>

<table class="table">
  <% @user.urls.each do |url| %>
    <tr>
      <td><%= link_to "#{request.base_url}/#{url.short}", "#{request.base_url}/#{url.short}" %></td><td><%= url.long %></td><td><%= url.visits.count %></td>
    </tr>
  <% end %>
</table>

<%= render 'urls/form' %>