<nav class='nav navbar-inverse navbar-static-top' role="navigation">
  <div class="container">
    <%= link_to 'Shorty', root_url, class: "navbar-brand" %>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to "Profile", user_path %></li>
        <li class="navbar-text">Logged in as <%= current_user.email %></li>
        <li><%= link_to "Sign out", logout_path, :class => "navbar-link" %></li>
      <% else %>
        <li><%= link_to "Sign up", signup_path, :class => "navbar-link" %></li>
        <li><%= link_to "Log in", login_path, :class => "navbar-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>
